/* navbar section */

nav {
    width:1900px;
    height:100px;
    background-color:#090D16;
    color:white;
}

.navbar ul > li{
    list-style-type:none;
    justify-content:center;

   
}
.navbar ul{
    display:flex;
    padding:0;
}
.navbar{
    display:flex;
    
}
li{
    margin-left:80px;
    margin-top:30px;
}

#top-searchbar{
    width:400px;
    height:35px;
    margin-left:80px;
    background-color:#090D16;
    text-align:center;
    margin-top:30px;
    border-radious:1px;
    letter-spacing:10px;
    border-color:white;
}

#crt{
    margin-left:200px;
}

.crt-prl{
}

.icon {
    width: 20px;
    height: 20px;
}


/* banner section */
.banner-img{
position: relative;
 display: inline-block;
}
.banner-text{
    position: absolute;
    top:35%;
    left:30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 130px;
    font-weight: bold;
    word-spacing: 10px;
}

.sdbanner-text{
    position: absolute;
    top:60%;
    left:29%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    font-weight: light;
    word-spacing: 50px;
}
.crt-btn{
    position: absolute;
    top:70%;
    left:29%;
    transform: translate(-50%, -50%);
    color: black;
    background-color:yellow;
    border-radius:0%;
    width:190px;
    height:50px;
    font-size: 20px;
    font-weight: light;
}

/* grid cover section*/
.grid-cover{
    display:grid;
    grid-template-columns: auto auto;
    background-color: #090D16;
    color:white;
    padding: 10px;
    height:700px;

}
.banner-text{
}

.cover-item{
    border: 1px solid white;
    padding: 20px;
    font-size: 30px;
}
